.project-card {
    width: 420px;
    height: 500px;
    margin-right: 10px;
    background: #C4C4C4;
    border-radius: 10px;
    padding: 25px 40px;
    filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.25));
    img {
        border-radius: 5px 5px 0 0;
        width: 100%;
        margin-bottom: 25px;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: clamp(0.5rem,5vw,0.9rem);
        line-height: 22px;
        margin-bottom: 25px;
        color: #757575;
    }
    button {
        border: none;
        outline: none;
        width: 100%;
        background: #0092CA;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: clamp(0.8rem,4vw,1.3rem);
        line-height: 29px;
        height: 50px;

        color: #eee;
    }
}
@media screen and (max-width: 1480px) {
    .project-card  {
        width: 290px;
        height: auto;
        margin-right: 140px;
    }
}

@media screen and (max-width: 450px) {
    .project-card {
        width: 290px;
        margin-right: 140px;
    }
}