@import './SkillBar/skilbar';

.skills {
    height: 100vh;
    .skills-container {
        widtH: 100%;
        height: 100%;
        position: relative;
        background: #212121;
        display: flex;
        align-items: center;
        padding: calc((100vw - 1400px) /2);
        .vector {
            top: 0;
            left: 0;
        }
        .skills-content {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 50px;
            padding: calc((100vh - 600px)/2) 0;
            .leftbar {
                h1 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: clamp(1rem,5vw,1.5rem);
                    line-height: 33px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    color: #0092CA;
                }
                h2 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: clamp(1.2rem,5vw,2rem);
                    line-height: 42px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    color: #FFFFFF;
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: clamp(0.8rem,4vw,1.3rem);
                    line-height: 28px;
                    text-align: justify;

                    color: #b5b5b5;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .skills{
        height: auto;
        .skills-container {
            padding: 0 25px; 
            .skills-content {
                height: auto;
                padding: 100px 0;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr auto;
                grid-row-gap: 25px;
                .leftbar {
                }
                .rightbar {
                    justify-self: center;
                }
            }
        }
    }
}