.toggle-button {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    position: relative;

    .line {
        height: 3px;
        width: 100%;
        border-radius: 5px;
        background: #eee;
        position: absolute;
        transition: transform .5s ease-in-out;

        &:first-child {
            top: 0;
            left: 0;
        }
        &:nth-child(2) {
            width: 16px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transition: all .5s ease-in-out;
        }
        &:last-child {
            width: 22px;
            bottom: 0;
            right: 0;
            transition: all .5s ease-in-out;
        }

    }

    &:hover {
        .line:last-child {
            width: 30px;
        }
        .line:nth-child(2) {
            widtH: 30px;
        }
    }

    &.open {
        .line {
            &:first-child {
                transform: rotate(45deg) translate(9px,10px);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                width: 30px;
                transform: rotate(-45deg) translate(9px, -10px);
            }
        }
    }
}