.about {
    height: 100vh;
    display: flex;
    .empty-container {
        width: 10%;
        background: white;
        height: 100%;
    }
    .about-container {
        width: 90%;
        height: 100%;
        background: #393E46;
        position: relative;
        display: flex;
        align-items: center;
        padding-right: calc((100vw - 1400px) /2);
        .up {
            top: -2px;
            left: 0;
        }
        .bottom {
            bottom: -2px;
            left: 0;
        }
        .about-content {
            height: 350px;
            width: 100%;
            display: grid;
            grid-template-columns: 300px 1fr;
            grid-column-gap: 50px;
            .leftbar {
                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -75px;
                    width: 350px;
                    height: 350px;
                    border-radius: 5px;
                    filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.25));
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        height: auto;
        .empty-container {
            display: none;
        }
        .about-container {
            width: 100%;
            padding: 100px 25px; 
            .about-content {
                height: auto;
                grid-template-columns: 1fr;
                grid-template-rows: 270px 1fr;
                grid-row-gap: 25px;
                .leftbar {
                    display: flex;
                    justify-content: center;
                    img {
                        position: static;
                        transform: translateY(0);
                        width: 270px;
                        height: auto;
                    }
                }
            }
        }
    }
}