.about {
    height: 100vh;
    display: flex;
    .empty-container {
        width: 10%;
        background: white;
        height: 100%;
    }
    .about-container {
        width: 90%;
        height: 100%;
        background: #393E46;
        position: relative;
        display: flex;
        align-items: center;
        padding-right: calc((100vw - 1400px) /2);
        .vector {
            width: 100%;
            position: absolute;
            height: auto;
        }
        .up {
            top: -4px;
            left: 0;
        }
        .bottom {
            bottom: -4px;
            left: 0;
        }
        .about-content {
            height: 350px;
            width: 100%;
            display: grid;
            grid-template-columns: 300px 1fr;
            grid-column-gap: 50px;
            .leftbar {
                img {
                    width: 350px;
                    height: 350px;
                    border-radius: 5px;
                    filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.25));
                }
            }
            .rightbar {
                h1 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: clamp(1rem,5vw,1.5rem);
                    line-height: 33px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    color: #0092CA;
                }
                h2 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: clamp(1.2rem,5vw,2rem);
                    line-height: 42px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    color: #FFFFFF;
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: clamp(0.8rem,4vw,1.3rem);
                    line-height: 28px;
                    text-align: justify;

                    color: #b5b5b5;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        height: auto;
        margin-bottom: 5px;
        .empty-container {
            display: none;
        }
        .about-container {
            width: 100%;
            padding: 0 25px; 
            .about-content {
                height: auto;
                padding-top: 100px;
                padding-bottom: 75px;
                grid-template-columns: 1fr;
                grid-template-rows: 280px 1fr;
                grid-row-gap: 25px;
                .leftbar {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 280px;
                        height: 280px;
                    }
                }
                .rightbar {
                    h1 {
                        margin-bottom: 10px;
                        line-height: 30px;
                    }
                    h2 {
                        margin-bottom: 15px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}