.fullbar {
    margin: 35px 0;
    width: 500px;
    height: 40px;
    border-radius: 5px;
    background: color(light-gray);
    position: relative;
    overflow: hidden;
    .valuebar {
        height: 40px;
        background: color(primary);
        position: relative;
        border-radius: 5px 0 0 5px;
        .title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            font-size: 18px;
            color: color(light-text);
        }
        .percent {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            font-size: 18px;
            color: color(light-text);
        }
    }
}

@media screen and (max-width: 1480px) {
    .fullbar {
        width: 275px;
        height: 30px;
        .valuebar {
            height: 30px;
        }
    }
}