@import './Navbar/navbar';
@import './SideMenu/sidemenu';

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    .social-icons {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            color: #212121;
            font-size: clamp(1rem,4vw,2rem);
            cursor: pointer;
            transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            &:first-child {
                margin-right: 15px;
            }

            &:hover {
                color: #0092CA;
                transform: translateY(-3px);
            }
        }
    }
    &.scroll {
        position: fixed;
        background: #393E46;
        border-bottom: 3px solid #0092CA;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
        .social-icons {
            .icon {
                color: #eee;
                &:hover {
                    color: #0092CA;
                    transform: translateY(-3px);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header{
        .social-icons {
            display: none;
        }
    }
}