@import './HamburgerIcon/hamburgericon';

.main-navbar {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: calc((100vw - 1400px) /2);
    transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
    .logo {
        text-decoration: none;
        font-style: normal;
        font-weight: 800;
        font-size: clamp(1rem,4vw,2rem);
        line-height: 44px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #EEEEEE;
    }
    nav {
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            padding-right: 10px;
            li {
                text-transform: uppercase;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
                font-size: 18px;
                display: flex;
                align-items: center;
                text-align: center;
                

                a {
                    cursor: pointer;
                    padding:  10px 20px;
                    position: relative;
                    text-decoration: none;
                    color: #EEEEEE;
                    font-size: clamp(0.6rem,1.8vw,1rem);
                    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

                    &:hover {
                        color: #0092CA;
                        transform: translateY(-3px);
                        font-weight: bold;
                    }
                    &.active {
                        &::after {
                            content: '';
                            width: 90%;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 3px;
                            background: #0092CA;
                        }
                    }
                }
            }
        }
    }
    .hamburger-icon {
        display: none;
    }
    &.open {
        background: #393E46;
    }
}
@media screen and (max-width: 1480px) {
    .main-navbar {
        padding-left: 40px;
        nav ul li a {
            padding: 10px;
        }
    }
}
@media screen and (max-width: 768px) {
    .main-navbar {
        width: 100%;
        padding: 0 25px;
        nav {
            display: none;
        }
        .hamburger-icon {
            display: block;
        }
    }
}