@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.toggle-button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  outline: none;
  position: relative;
}

.toggle-button .line {
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background: #eee;
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.toggle-button .line:first-child {
  top: 0;
  left: 0;
}

.toggle-button .line:nth-child(2) {
  width: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.toggle-button .line:last-child {
  width: 22px;
  bottom: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.toggle-button:hover .line:last-child {
  width: 30px;
}

.toggle-button:hover .line:nth-child(2) {
  widtH: 30px;
}

.toggle-button.open .line:first-child {
  -webkit-transform: rotate(45deg) translate(9px, 10px);
          transform: rotate(45deg) translate(9px, 10px);
}

.toggle-button.open .line:nth-child(2) {
  opacity: 0;
}

.toggle-button.open .line:last-child {
  width: 30px;
  -webkit-transform: rotate(-45deg) translate(9px, -10px);
          transform: rotate(-45deg) translate(9px, -10px);
}

.main-navbar {
  height: 100%;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: calc((100vw - 1400px) /2);
}

.main-navbar .logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EEEEEE;
}

.main-navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-right: 25px;
}

.main-navbar nav ul li {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 15px;
}

.main-navbar nav ul li a {
  text-decoration: none;
  color: #EEEEEE;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-navbar nav ul li a:hover {
  color: #0092CA;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  font-weight: bold;
}

.main-navbar .hamburger-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .main-navbar {
    width: 100%;
    padding: 0 25px;
  }
  .main-navbar nav {
    display: none;
  }
  .main-navbar .hamburger-icon {
    display: block;
  }
}

.sidemenu {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidemenu {
    width: 100%;
    height: 100%;
  }
}

header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .social-icons {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .social-icons .icon {
  color: #212121;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .social-icons .icon:first-child {
  margin-right: 15px;
}

header .social-icons .icon:hover {
  color: #0092CA;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  header .social-icons {
    display: none;
  }
}

.hero {
  height: 90vh;
  width: 100%;
  background: white;
  position: relative;
  z-index: 1;
}

.hero .video-container {
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.hero .video-container .video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
}

.hero .video-container .triangle {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -2px;
  left: 2px;
}

.hero .hero-container {
  width: 85%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding-left: calc((100vw - 1400px) /2);
  background: transparent;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .hero-container h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  color: #EEEEEE;
}

.hero .hero-container h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #EEEEEE;
  margin-bottom: 10px;
}

.hero .hero-container h2 span {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #0092CA;
}

.hero .hero-container p {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  padding-right: 50px;
  color: #EEEEEE;
  margin-bottom: 25px;
}

.hero .hero-container button {
  height: 50px;
  width: 200px;
  background: #0092CA;
  color: #eee;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .empty-container {
  width: 10%;
  background: white;
  height: 100%;
}

.about .about-container {
  width: 90%;
  height: 100%;
  background: #393E46;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: calc((100vw - 1400px) /2);
}

.about .about-container .vector {
  width: 100%;
  position: absolute;
  height: auto;
}

.about .about-container .up {
  top: -4px;
  left: 0;
}

.about .about-container .bottom {
  bottom: -4px;
  left: 0;
}

.about .about-container .about-content {
  height: 350px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  grid-column-gap: 50px;
}

.about .about-container .about-content .leftbar img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50px;
  height: 350px;
  border-radius: 5px;
  -webkit-filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.25));
}

.about .about-container .about-content .rightbar h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: #0092CA;
}

.about .about-container .about-content .rightbar h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  color: #FFFFFF;
}

.about .about-container .about-content .rightbar p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #b5b5b5;
}

.projects {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .empty-container {
  width: 10%;
  height: 100%;
  background: white;
}

.projects .projects-container {
  width: 90%;
  height: 100%;
  background: #22313F;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: calc((100vw - 1400px) /2);
}

.projects .projects-container .vector {
  width: 100%;
  height: auto;
  position: absolute;
}

.projects .projects-container .up {
  top: -4px;
  right: 0;
}

.projects .projects-container .bottom {
  bottom: -4px;
  right: 0;
}

.projects .projects-container .project-content {
  height: 500px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 420px 1fr;
      grid-template-columns: 420px 1fr;
  grid-column-gap: 50px;
}

.projects .projects-container .project-content .rightbar {
  padding-right: 100px;
}

.projects .projects-container .project-content .rightbar h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: #0092CA;
}

.projects .projects-container .project-content .rightbar h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  color: #EEEEEE;
}

.projects .projects-container .project-content .rightbar p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  margin-bottom: 50px;
  color: #B5B5B5;
}

.projects .projects-container .project-content .rightbar .pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projects-container .project-content .rightbar .pager .icon {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 3px solid #0092CA;
  font-size: 3rem;
  color: #0092CA;
  background: #393E46;
}

.projects .projects-container .project-content .rightbar .pager .icon:first-child {
  margin-right: 25px;
}

.fullbar {
  margin: 35px 0;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  background: #c4c4c4;
}

.fullbar .valuebar {
  height: 40px;
  background: #0092ca;
  position: relative;
  border-radius: 5px 0 0 5px;
}

.fullbar .valuebar .title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  font-size: 18px;
  color: #eee;
}

.fullbar .valuebar .percent {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  font-size: 18px;
  color: #eee;
}

.skills {
  height: 100vh;
}

.skills .skill-container {
  widtH: 100%;
  height: 100%;
  position: relative;
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc((100vw - 1400px) /2);
}

.skills .skill-container .vector {
  width: 100%;
  height: auto;
  position: absolute;
  top: -4px;
  left: 0;
}

.skills .skill-container .skills-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  padding: calc((100vh - 600px)/2) 0;
}

.skills .skill-container .skills-content .leftbar h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0092CA;
  margin-bottom: 10px;
}

.skills .skill-container .skills-content .leftbar h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EEEEEE;
  margin-bottom: 25px;
}

.skills .skill-container .skills-content .leftbar p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #C4C4C4;
}

.contact-card {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 85%;
  min-height: 500px;
  background: #0092CA;
  border-radius: 5px;
  padding: 15px 30px;
}

.contact-card h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #EEEEEE;
  margin-bottom: 10px;
}

.contact-card h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393E46;
  margin-bottom: 10px;
}

.contact-card form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-card form .input-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.contact-card form .input-group label {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.contact-card form .input-group input {
  margin-top: 5px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 5px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.contact-card form .input-group textarea {
  margin-top: 5px;
  height: 150px;
  border: none;
  outline: none;
  padding-left: 5px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  resize: none;
}

.contact-card form button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background: #393E46;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.contact-card form .error-message {
  color: #eee;
  -ms-flex-item-align: self-start;
      align-self: self-start;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .contact-card {
    width: 270px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .contact-card form .input-group input {
    height: 40px;
  }
  .contact-card form .input-group textarea {
    width: 100%;
  }
}

.contact {
  height: 100vh;
}

.contact .contact-container {
  widtH: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 calc((100vw - 1400px) /2);
  padding-bottom: 100px;
  background: white;
}

.contact .contact-container .vector {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.contact .contact-container .contact-content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: calc((100vh - 600px) /2) 0;
  -ms-grid-columns: 450px 1fr;
      grid-template-columns: 450px 1fr;
  grid-column-gap: 50px;
}

.contact .contact-container .contact-content .rightbar h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #0092CA;
  margin-bottom: 10px;
}

.contact .contact-container .contact-content .rightbar h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #474646;
  margin-bottom: 25px;
}

.contact .contact-container .contact-content .rightbar p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #212121;
  margin-bottom: 25px;
}

.contact .contact-container .contact-content .rightbar ul {
  list-style: none;
}

.contact .contact-container .contact-content .rightbar ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  color: #212121;
  margin-bottom: 25px;
}

.contact .contact-container .contact-content .rightbar ul li .icon {
  margin-right: 5px;
  color: #212121;
  font-size: 2rem;
}

footer {
  height: 150px;
  background: #22313F;
}

footer .container {
  padding: 0 calc((100vw - 1200px) /2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 110px 40px;
      grid-template-rows: 110px 40px;
}

footer .container .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .container .logo__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

footer .container .logo__brand img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

footer .container .logo__brand h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #eee;
}

footer .container .logo h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #eee;
}

footer .container .logo h2 span {
  color: #EB4E44;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

footer .container .logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .container .logo ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #EEEEEE;
}

footer .container .logo ul li a {
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 25px;
  padding-top: 25px;
}

footer .container .social-icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
}

footer .container .social-icons .icon {
  font-size: 2rem;
  color: #eee;
}

footer .container .copyright {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #757575;
  position: relative;
}

footer .container .copyright::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #0092CA;
}

@media screen and (max-width: 768px) {
  footer {
    height: auto;
  }
  footer .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 3fr 2fr 1fr;
        grid-template-rows: 3fr 2fr 1fr;
  }
  footer .container .copyright {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-columns: 1/2;
        grid-template-columns: 1/2;
  }
  footer .container .logo {
    margin-top: 25px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-columns: 1/2;
        grid-template-columns: 1/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .container .social-icons {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-columns: 1/2;
        grid-template-columns: 1/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: 'Roboto', sans-serif;
  background: white;
}

.section {
  width: 100%;
}

.vector {
  position: absolute;
  right: 0;
  width: 80%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */