@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$colors: (
    primary: #0092CA,
    light-gray: #757575,
    dark-gray: #393E46,
    dark: #212121,
);

@import './components/Header/header';
@import './components/Hero/hero';
@import './components/About/about';
@import './components/Projects/projects';
@import './components/Skills/skills';
@import './components/Contact/contact';
@import './components/SectionText/sectiontext';
@import './components/Footer/footer';

// Functions
@function color($color-name) {
    @return map-get($colors, $color-name);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: white;
}


.section {
    width: 100%;
}


.vector {
    position: absolute;
    width: 100%;
}

.filler {
    width: 100%;
    height: 5px;
    background: white;
}