@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$colors: (
    primary: #0092CA,
    light: #ffffff,
    light-text: #eeeeee,
    light-gray: #C4C4C4,
    dark-gray: #393E46,
    dark-blue: #22313F,
    dark: #212121,
);

// Functions
@function color($color-name) {
    @return map-get($colors, $color-name);
}
// Section css files
@import './components/Header/header';
@import './components/Hero/hero';
@import './components/About/about';
@import './components/Contact/contact';
@import './components/Footer/footer';
@import './components/Projects/projects';
@import './components/SectionText/sectiontext';
@import './components/Skills/skills';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
}


.section {
    width: 100%;
}


.vector {
    width: 101%;
    position: absolute;
}

.filler {
    width: 100%;
    height: 50px;
    background: color(light);
}

@media screen and (max-width: 768px) {
    .vector {
        width: 100%;
    }
}