.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.75);
    .message-container {
        width: 400px;
        height: 200px;
        padding: 10px;
        background: color(light);
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
        .content {
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid color(primary);
            .envelope {
                font-size: 2rem;
                color: color(dark);
            }
            h1 {
                margin-bottom: 15px;
                font-size: 1.5rem;
                color: color(dark);
            }
            .icon {
                font-size: 1rem;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
                color: color(dark);
            }
        }
    }
}